#datastore .data a,
#requests .request a,
#processors .entity a,
#controllers .entity a {
  display: block;
  color: #000;
  text-decoration: none;
}

.list-group-item.data,
.list-group-item.entity,
.list-group-item.request {
  margin-bottom: 0.75rem;
  overflow-wrap: break-word;
}
