#datastore .data a,
#requests .request a,
#processors .processor a {
  display: block;
  color: #000;
  text-decoration: none;
}

.list-group-item.data,
.list-group-item.request,
.list-group-item.processor {
  margin-bottom: 0.75rem;
  overflow-wrap: break-word;
}
