.card-body a {
  color: #6c757d;
}

.card-body .btn-primary,
.card-body .btn-primary:hover {
  color: #fff;
}

.card-body a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

#datastore .data a,
#requests .request a,
#processors .entity a,
#controllers .entity a {
  display: block;
  color: #000;
  text-decoration: none;
}

.list-group-item.data,
.list-group-item.entity,
.list-group-item.request {
  margin-bottom: 0.75rem;
  overflow-wrap: break-word;
}
